args="--chuid www-data --group www-data --background --make-pidfile --pidfile /var/run/flashover.pid --exec /var/www-flashover/daemon.sh"

case "$1" in
	start)
		start-stop-daemon $args --start
		;;
	stop)
		start-stop-daemon $args --stop
		;;
	restart)
		start-stop-daemon $args --oknodo --stop
		start-stop-daemon $args --start
		;;
	*)
		echo "Usage: $0 {start|stop|restart}"
		exit 1
esac
exit 0
