/* Override some defaults */
html, body {
  background-image: url('/static/back.png');
  background-color: #ffffed;
}

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

/* The white background content wrapper */
.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.btn-pad {
  margin-right: 50px;
}

.topbar .btn {
  border: 0;
}

div.well {
  border: white solid 1px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 2px 65px rgba(241, 100, 41, 0.2);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 2px 65px rgba(241, 100, 41, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 2px 65px rgba(241, 100, 41, 0.2);
}

div.well * a.btn {
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.25), 0px 1px 1px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.25), 0px 1px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 5px 10px rgba(0,0,0,0.25), 0px 1px 1px rgba(0,0,0,0.75);
}

input[type=file] {
  background-color: transparent !important;
}

form.compact {
  margin-bottom: 0px !important;
}

.pull-center {
  text-align: center;
}

a.expand4 {
  width: 200px;
  line-height: 30px;
}

a.expand1 {
  width: 80px;
  line-height: 30px;
}

.extra-high {
  padding-top: 60px;
  padding-bottom: 60px;
}

div.thumbnail {
  background: url('/static/img-back.png') repeat left top;
}

div.thumbnail.disabled {
  opacity: 0.33;
}

div.th54 i.icon-thumbnail {
  margin-top: 20px;
}

div.th54 {
  width: 54px;
  height: 54px;
  margin: 0px;
  padding: 0px;
}

div.th138 {
  width: 138px;
  height: 138px;
  margin: 0px;
  padding: 0px;
}

ul.thumbnails-compact li {
  margin-top: 9px;
  margin-bottom: 9px;
}

div.delimited {
  border-right: 1px solid #eeeeee;
}

div.thumbnail img {
  padding: 5px;
}

a:hover div.thumbnail {
  border: 1px solid #aaa;
}

div.thumbnail-caption {
  text-align: center;
}

div.logo-holder {
  padding-top: 5px;
  opacity: 0.5;
}

ul.front {
  font-size: 24px;
}

ul.front li {
  padding: 5px;
}

a.brand, b.logo {
  font-weight: 700;
  font-family: "Dancing Script","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

b.logo {
  text-shadow: 0px 5px 10px rgba(0,0,0,0.25), 0px 1px 1px rgba(0,0,0,0.75);
}

.navbar a.brand {
  font-size: 40px;
  text-shadow: 0px 1px 2px #000;
  padding: 0px;
  padding-right: 20px;
}

div.well > h2,
div.well * h2,
div.well > h3,
div.well > h4,
div.well > p {
  text-shadow: 0px 1px 1px #fff;
}

div.actor-def {
  height: 13px;
  margin-top: 1px;
  font-size: 9px;
  text-align: right;
  background-color: #fefefe;
  overflow: hidden;
}

div.scrollable-x {
  overflow-x: scroll;
}

table.timeline {
  border-spacing: 1px;
  border-collapse: collapse;
}

table.timeline tr td {
  height: 12px;
  width: 12px;
}

div.timeline-shown {
  background-color: red;
  height: 12px;
  width: 12px;
}

div.timeline-notshown {
  background-color: #fefefe;
  height: 12px;
  width: 12px;
}