$def with ()
$var title: about

<div class="content">
  <div class="row">
    <div class="span5">
      <h3>Technology</h3>
      <p>Flashover is built with:</p>
      <ul>
        <li><a href="http://jquery.com/">jQuery</a>,
            <a href="https://github.com/blueimp/jQuery-File-Upload">jQuery File Upload</a> and
            <a href="https://twitter.github.com/bootstrap/">Twitter Bootstrap</a> take care of the front-end.</li>
        <li><a href="http://webpy.org/">web.py</a> glues everything together.</li>
        <li><a href="http://mysql.com/">MySQL</a> provides metadata storage.</li>
        <li><a href="https://github.com/timknip/pyswf">pyswf</a> does the dirty work
           (with lots of <a href="https://github.com/ctz/pyswf">extensions</a>).</li>
        <li><a href="http://www.pythonware.com/products/pil/">PIL</a> does image processing.</li>
      </ul>
    </div>
    
    <div class="span5">
      <h3>Similar services</h3>
      <ul>
        <li><a href="https://www.google.com/doubleclick/studio/swiffy/">Google Swiffy</a>
            performs conversion of SWF movies to HTML5 by converting the SWF to a JSON representation
            which is interpreted and executed by a javascript library.
        </li>
        <li><a href="http://www.swftools.org/">swftools</a> contains a number of tools which do
            equivalent things to flashover.
        </li>
      </ul>
      There are many more!
    </div>
  </div>
</div>