$def with ()
$var title: about

<div class="content">
  <h3>is built with:</h3>
  <ul>
    <li><a href="http://jquery.com/">jQuery</a>,
        <a href="https://github.com/blueimp/jQuery-File-Upload">jQuery File Upload</a> and
        <a href="https://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</li>
    <li><a href="http://webpy.org/">web.py</a>.</li>
    <li><a href="https://github.com/timknip/pyswf">pyswf</a>
       (with lots of <a href="https://github.com/ctz/pyswf">extensions</a>).</li>
    <li><a href="http://www.rabbitmq.com/">RabbitMQ</a>
        talked to by <a href="https://github.com/pika/pika">pika</a>.</li>
    <li><a href="http://www.phantomjs.org/">PhantomJS</a> to fetch, render and fiddle with webpages.</li>
  </ul>
</div>