$def with ()
$var title: api

<div class="content"> 
  <h2>Flashover API</h2>
  <h3>Overview</h3>
  <p>A typical API use looks like:</p>
  <ol class="breadcrumb">
    <li class="active">Submit SWF <span class="divider">&rarr;</span></li>
    <li class="active">Receive UUID <span class="divider">&rarr;</span></li>
    <li class="active">Poll for completion <span class="divider">&rarr;</span></li>
    <li class="active">Retrieve data</li>
  </ol>
  <p>
  All requests are made over HTTP.  Responses are JSON for metadata,
  or binary for resources.  A UUID here identifies the result of decompiling
  your submitted SWF.  They are allocated by flashover, and become invalid after two hours.
  </p>
  
  <p>
  TODO
  </p>
</div>