$def with (content)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>flashover
    $if content.title:
        : ${content.title}
    </title>
    <meta name="description" content="flashover is a web-based flash movie analysis tool">
    <meta name="author" content="ctz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/flashover.css" />
    
    <script src="/static/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="/static/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/jquery.fileupload.js" type="text/javascript"></script>
    <script src="/static/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="/static/bootstrap.js" type="text/javascript"></script>

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/home">flashover</a>
          <ul class="nav">
            <li
            $if content.title == 'home':
              class="active"
            ><a href="/home"><i class="icon-white icon-home"></i> Home</a></li>
            <li
            $if content.title == 'api':
              class="active"
            ><a href="/api"><i class="icon-white icon-cog"></i> API</a></li>
            <li
            $if content.title == 'tour':
              class="active"
            ><a href="/tour"><i class="icon-white icon-road"></i> Tour</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="https://github.com/ctz/flashover"><i class="icon-white icon-retweet"></i> Github</a></li>
            <li
            $if content.title == 'stats':
              class="active"
            ><a href="/stats"><i class="icon-white icon-signal"></i> Stats</a></li>
            <li
            $if content.title == 'about':
              class="active"
            ><a href="/about"><i class="icon-white icon-question-sign"></i> About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      $:content
        
      <div class="logo-holder pull-center small">
        &copy; <a href="http://ifihada.com/">ctz</a> 2012
      </div>
    </div>

  </body>
</html>
