$def with ()
$var title: online flash decompiler

<div style="padding: 10px"></div>
<div class="hero-unit well">
  <h1><b class="logo">flashover</b></h1>
  <br/>
  <p>&rarr; helps convert your flash assets to other formats.</p>
  <p>&rarr; is by <a href="http://ifihada.com" class="btn btn-flashover"><i class="icon-user"></i> ctz</a>.</p>
  <p>&rarr; is pretty rad.</p>
  <br/>
  
  <div class="span2">
    <h2>Get started:</h2>
  </div>
  <div class="span6 pull-right">
    <a href="#upload" class="btn btn-flashover btn-large btn-pad"><i class="icon-upload"></i> Upload</a>
    <a href="#bookmarklet" class="btn btn-flashover btn-large btn-pad"><i class="icon-bookmark"></i> Bookmarklet</a>
    <a href="tour" class="btn btn-flashover btn-large btn-pad"><i class="icon-road"></i> Tour</a>
  </div>
</div>

<div class="row hideable" id="upload-block">
  <div class="well span8 pull-right">
    <h2>Upload</h2>
    <p>Choose a <code>.swf</code> file.</p>
    <p>
      <form id="file-upload" method="POST" action="/file-upload" enctype="multipart/form-data" class="form-inline">
        <input type="file" name="file" /> (or just drag and drop)
        <input class="pull-right btn btn-flashover" type="submit" value="Go &rarr;" />
      </form>
    </p>
        
  </div>
</div>

<div class="row hideable" id="upload-error">
  <div class="span9 alert alert-error">
    <h4 class="alert-heading">Upload failed!</h4>
    <strong>Sorry</strong>, this is unexpectedly broken.  The error was:
    <tt id="upload-error-detail">That doesn't look like a flash file.</tt>
  </div>
</div>

<div class="row hideable" id="bookmarklet-block">
  <div class="well span8 pull-right">
    <h2>Bookmarklet</h2>
    <p class="pull-center">
      <a class="btn btn-flashover btn-large" href="javascript:void((function(){var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','http://localhost:8080/static/bookmarklet.js');document.body.appendChild(e)})())">
        Inspect with flashover
      </a>
    </p>
    <p>Drag this button to your toolbar or bookmark it.</p>
  </div>
</div>
</div>

<script type="text/javascript">
updateHash = function() {
  $$('.hideable').hide();
  
  if (window.location.hash) {
    var sel = '#' + window.location.hash.slice(1) + '-block';
    $$(sel).fadeIn();
    
    if (window.location.hash == '#tour') {
      $$('#tour-form').submit();
    }
  }
}
$$('.hideable').hide();
$$('.close').bind('click', function() { $$(this).parent().hide(); return false; });
updateHash();

$$(window).bind('hashchange', updateHash);

$$('#file-upload').fileupload({
  url: '/file-upload',
  paramName: 'file',
  singleFileUploads: true,
  fail: function(e, data) {
    $$('#upload-error-detail').text('Server rejected upload: ' + data.errorThrown);
    $$('#upload-error').show();
  },
  done: function(e, data) {
    result = JSON.parse(data.result);
    if (result.error)
    {
      $$('#upload-error-detail').text(result.error);
      $$('#upload-error').show();
      return;
    }
    document.location = '/await/' + result.job;
  },
});
</script>