$def with (sidebar, job, status, meta, stats)
$var title: overview

<div class="content">
  <div class="row">
    $:sidebar
    
    $code:
      pix = 8
    <div class="span4 pull-center">
      <ul class="thumbnails thumbnails-compact">
      $for shp in meta['shapes'][:pix]:
        <li>
          <a href="/shape/$job/${shp['id']}">
            <div class="thumbnail th54">
              <img src="/image-thumb-svg/$job/$shp['id']/44" />
            </div>
          </a>
        </li>
      $for i in range(pix - min(pix, len(meta['shapes']))):
        <li>
          <div class="thumbnail disabled th54"></div>
        </li>
      $if meta['shapes']:
        <a href="/shapes/$job" class="btn btn-large btn-flashover">
          $:sidebar.shapes_link
        </a>
      $else:
        <a class="btn btn-large btn-flashover disabled">
          $:sidebar.shapes_link
        </a>
      </ul>
    </div>
    
    <div class="span4 pull-center">
      <ul class="thumbnails thumbnails-compact">
      $for img in meta['images'][:pix]:
        <li>
          <a href="/image/$job/$img['id']">
            <div class="thumbnail th54">
              <img src="/image-thumb/$job/$img['id']/44" />
            </div>
          </a>
        </li>
      $for i in range(pix - min(pix, len(meta['images']))):
        <li>
          <div class="thumbnail disabled th54"></div>
        </li>
      $if meta['images']:
        <a href="/images/$job" class="btn btn-large btn-flashover">
          $:sidebar.images_link
        </a>
      $else:
        <a class="btn btn-large btn-flashover disabled">
          $:sidebar.images_link
        </a>
      </ul>
    </div>
    
    <div class="span4 pull-center">
      <ul class="thumbnails thumbnails-compact">
      $for snd in meta['sounds'][:pix]:
        <li>
          <a href="/sound/$job/$snd['id']">
            <div class="thumbnail th54">
              <i class="icon-volume-up icon-thumbnail"></i>
            </div>
          </a>
        </li>
      $for i in range(pix - min(pix, len(meta['sounds']))):
        <li>
          <div class="thumbnail disabled th54"></div>
        </li>
      $if meta['sounds']:
        <a href="/sounds/$job" class="btn btn-large btn-flashover">
          $:sidebar.sounds_link
        </a>
      $else:
        <a class="btn btn-large btn-flashover disabled">
          $:sidebar.sounds_link
        </a>
      </ul>
    </div>
    
    <div class="span4 pull-center">
      <ul class="thumbnails thumbnails-compact">
      $for bin in meta['binaries'][:pix]:
        <li>
          <a href="/binary/$job/$id">
            <div class="thumbnail th54">
              <i class="icon-file icon-thumbnail"></i>
            </div>
          </a>
        </li>
      $for i in range(pix - min(pix, len(meta['binaries']))):
        <li>
          <div class="thumbnail disabled th54"></div>
        </li>
      $if meta['binaries']:
        <a href="/binaries/$job" class="btn btn-large btn-flashover">
          $:sidebar.binaries_link
        </a>
      $else:
        <a class="btn btn-large btn-flashover disabled">
          $:sidebar.binaries_link
        </a>
      </ul>
    </div>
  </div>
    
</div>
