$def with ()
$var title: tour

<div class="content">
  <div class="row">
    <div class="span5">
      <div class="well pull-center">
        <a href="/alias/youtube/results">
          <img src="/alias/youtube/image-thumb-svg|/1/180" style="padding-top: 50px; margin-bottom: -50px;" ></a>
        <h2 class="pull-center"><a href="/alias/youtube/results">YouTube movie player</a></h2>
      </div>
      <p>
        <b><i class="icon icon-eye-open"></i> Highlights:</b>
        All the player's <a href="/alias/youtube/shapes">icons</a>.
      </p>
      <p>
        <b><i class="icon icon-user"></i> Source and copyright:</b>
        <a href="http://www.youtube.com">YouTube</a>.
      </p>
    </div>
    <div class="span5">
      <div class="well pull-center">
        <a href="/alias/badger/results"><img src="/alias/badger/image-thumb-svg|/22/180" /></a>
        <h2><a href="/alias/badger/results">The Badger song</a></h2>
      </div>
      <p>
        <b><i class="icon icon-eye-open"></i> Highlights:</b>
        Badger's <a href="/alias/badger/shape|/22">head</a>
        and <a href="/alias/badger/shape|/20">body</a>,
        <a href="/alias/badger/shape|/37">mushroom</a>,
        <a href="/alias/badger/shape|/51">snake</a>
        and of course <a href="/alias/badger/sounds|%23play-32">the song</a>.
      </p>
      <p>
        <b><i class="icon icon-user"></i> Source and copyright:</b>
        <a href="http://weebls-stuff.com/songs/badgers/">Weebl</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <div class="well pull-center">
        <a href="/alias/pvz/results"><img src="/alias/pvz/image-raw|/275"/></a>
        <h2><a href="/alias/pvz/results">Plants Vs. Zombies</a></h2>
      </div>
      <p>
        <b><i class="icon icon-eye-open"></i> Highlights:</b>
        A <a href="/alias/pvz/image|/398">wall nut</a>,
        the <a href="/alias/pvz/image|/307">field of play</a>
        and of course some <a href="/alias/pvz/sounds|%23play-63">braains</a>.
      </p>
      <p>
        <b><i class="icon icon-user"></i> Source and copyright:</b>
        <a href="http://www.popcap.com/games/plants-vs-zombies/pc">Popcap</a>.
      </p>
    </div>
    <div class="span5">
      <div class="well pull-center">
        <a href="/alias/portal/results"><img src="/alias/portal/image-thumb-svg|/748/119"/></a>
        <h2><a href="/alias/portal/results">Portal: The Flash Version</a></h2>
      </div>
      <p>
        <b><i class="icon icon-eye-open"></i> Highlights:</b>
        A <a href="/alias/portal/shape|/980">sentry gun</a> and the <a href="/alias/portal/sounds|%23play-66">theme tune</a>.
      </p>
      <p>
        <b><i class="icon icon-user"></i> Source and copyright:</b>
        <a href="http://portal.wecreatestuff.com/">We Create Stuff</a>.
      </p>
    </div>
  </div>
</div>